@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(24, 22, 22, 0.986);

  --primary-color: red;
  --text-color: white;
  --textTwo-color: rgb(214, 202, 202);
}

/*-----------------------------------------------Nav-Leiste---------------------------------*/

.nav-leiste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
}

.nav-top {
  color: var(--text-color);
  text-decoration: none;
  font-family: "Inter" sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 200ms ease-in-out;
}

.nav-top:hover,
.footerleiste:hover {
  color: var(--primary-color);
}

/*------------------------------------------------Section Hero--------------------------------*/

.hero {
  background-image: linear-gradient(#050505c0, #080808d2), url(hero.jpg);
  height: calc(100vh - 5rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  text-align: center;
}

.undertitle {
  color: var(--textTwo-color);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.callToAction {
  font-size: 1rem;
  font-family: "Inter";
  color: var(--text-color);
  padding-top: 6rem;
  border-color: rgba(255, 0, 0, 0.863);
  background-color: rgba(255, 0, 0, 0.829);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 0 0;
  border: solid 2px red;
  width: fit-content;
  scroll-behavior: smooth;
}

.button {
  margin: 0 0;
}

.callToAction_inverted {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
  border: solid 2px;
}

.callToAction:hover {
  background-color: transparent;
  border-color: red;
  border-style: 3px solid;
  color: var(--primary-color);
}

.callToAction_inverted:hover {
  background-color: red;
  color: var(--text-color);
}
/*---------------------------------Section About us------------------------------------*/

.websiteAboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter";
  max-width: 85%;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.aboutUs_container {
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
}

.aboutUs_Headline {
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: fit-content;
}

.AboutUs-text {
  color: var(--textTwo-color);
  font-size: 1.5rem;
  padding-bottom: 3.5rem;
  display: block;
  text-align: left;
}

.About_us_image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 0.4rem;
}

.big-image {
  width: 50%;
  height: 100%;
}

.small_image {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
  height: 100%;
}

/*-----------------------------------Section Open-----------------------------------*/

.openTop {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.open-container {
  background-image: linear-gradient(#070707ce, #080808b4), url(info.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 140rem;
  height: 35rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.open_time {
  color: var(--text-color);
  font-family: "INTER";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-decoration: underline red;
  letter-spacing: 0.5rem;
}

.week_times {
  font-size: 1.8rem;
  font-family: "Inter";
  text-align: center;
  padding-top: 4rem;
  letter-spacing: 0.1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours {
  line-height: 2.5rem;
}

.day {
  color: var(--textTwo-color);
  padding-right: 2rem;
  text-align: left;
}

.opening {
  color: var(--text-color);
  text-align: right;
  padding-left: 1rem;
}

.quit {
  padding-right: 4rem;
}

.quit_2 {
  padding-left: 1.5rem;
}
/*----------------------------------Section Kontakt----------------------------------*/

.Erreichbarkeit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 0rem;
  flex-direction: column;
}

.contakt-pic {
  grid-template-columns: 1fr;
  display: grid;
  flex-direction: column;
  margin-left: 0 auto;
  max-width: 85%;
}

.last-pic {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.adress {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.head {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.anschrift {
  color: var(--textTwo-color);
  font-family: "INTER";
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.contakt-button {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

/*-------------------------------------Footer----------------------------------------*/

.footer_top {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-family: "Inter" sans-serif;
  font-size: 1rem;
}

.footer_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.footerleiste {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.1rem;
  gap: 4rem;
  padding: 2rem 1rem;
}

.copyright {
  color: var(--text-color);
  font-size: 0.7rem;
  font-family: "INTERS";
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.4rem;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  gap: 1rem;
}

/*-----------------------------------Responsive Begin---------------------------------*/

@media only screen and (min-width: 300px) {
  .nav-top {
    color: var(--text-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .name {
    padding-top: 8rem;
    font-size: 2.8rem;
    line-height: -5rem;
  }

  .undertitle {
    font-size: 1rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
  }

  .aboutUs_Headline {
    margin-bottom: 1.3rem;
  }

  .callToAction {
    font-size: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .anschrift {
    font-size: 1rem;
  }

  .contakt-button {
    flex-direction: column;
  }

  .footerleiste {
    font-size: 0.7rem;
    padding: 0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .nav-leiste {
    gap: 1.5rem;
  }

  .name {
    font-size: 3.5rem;
    padding-top: 2rem;
  }
  .undertitle {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .contakt-button {
    flex-direction: row;
  }

  .footer_links {
    flex-direction: row;
  }
}

@media only screen and (max-width: 1000px) {
  .websiteAboutUs {
    grid-template-columns: 1fr;
  }

  .aboutUs_Headline {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    width: fit-content;
  }

  .AboutUs-text {
    color: rgb(214, 202, 202);
    font-size: 1rem;
    padding-bottom: 3.5rem;
    display: block;
    text-align: left;
  }

  .open_time {
    font-size: 1.5rem;
  }

  .week_times {
    font-size: 1rem;
  }

  .Erreichbarkeit {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1001px) {
  .nav-leiste {
    gap: 4rem;
  }
  .name {
    font-size: 4rem;
    padding-top: 14rem;
    line-height: -2rem;
  }

  .undertitle {
    padding-bottom: 13rem;
  }
}

@media only screen and (min-width: 1400px) {
  .websiteAboutUs {
    max-width: 1400px;
  }
}
