@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(24, 22, 22, 0.986);

  --primary-color: red;
  --text-color: white;
  --textTwo-color: rgb(214, 202, 202);
}

.nav-leiste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
}

.nav-top {
  color: var(--text-color);
  text-decoration: none;
  font-family: "Inter" sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 200ms ease-in-out;
}

.nav-top:hover {
  color: var(--primary-color);
}

.hero {
  background-image: linear-gradient(#050505c0, #080808d2), url(hero.jpg);
  height: calc(100vh - 5rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  line-height: -5rem;
  font-size: 10rem;
  text-align: center;
  padding-top: 55rem;
}

.undertitle {
  color: var(--textTwo-color);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.callToAction {
  color: var(--text-color);
  font-size: 5rem;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 6rem;
  border-color: rgba(255, 0, 0, 0.863);
  background-color: rgba(255, 0, 0, 0.829);
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 0 0;
  border-style: 1rem solid;
  width: fit-content;
  scroll-behavior: smooth;
}

.callToAction:hover {
  background-color: transparent;
  border-radius: 1rem;
  border-color: var(--primary-color);
  border-style: 1px solid;
  color: var(--primary-color);
}

.websiteAboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter";
  max-width: 85%;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.aboutUs_container {
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
}

.aboutUs_Headline {
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: fit-content;
}

.AboutUs-text {
  color: var(--textTwo-color);
  font-size: 1.5rem;
  padding-bottom: 3.5rem;
  display: block;
  text-align: left;
}

.About_us_image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 0.4rem;
}

.big-image {
  width: 50%;
  height: 100%;
}

.small_image {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
  height: 100%;
}

.openTop {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.open-container {
  background-image: linear-gradient(#070707ce, #080808b4), url(info.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 140rem;
  height: 35rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.open_time {
  color: var(--text-color);
  font-family: "INTER";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-decoration: underline red;
  letter-spacing: 0.5rem;
}

.week_times {
  font-size: 1.8rem;
  font-family: "Inter";
  text-align: center;
  padding-top: 4rem;
  letter-spacing: 0.1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours {
  line-height: 2.5rem;
}

.day {
  color: var(--textTwo-color);
  padding-right: 2rem;
  text-align: left;
}

.opening {
  color: var(--text-color);
  text-align: right;
  padding-left: 1rem;
}

.quit {
  padding-right: 4rem;
}

.quit_2 {
  padding-left: 1.5rem;
}

.Erreichbarkeit {
  display: flex;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto;
  margin-top: 2rem;
  gap: 3rem;
}

.contakt-pic {
  display: flex;
  justify-content: center;
}

.last-pic {
  max-width: 65%;
}

.adress {
  margin-right: 30rem;
}

.head {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.anschrift {
  color: var(--textTwo-color);
  font-family: "INTER";
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.test {
  color: white;
}

@media only screen and (min-width: 300px) {
  .nav-top {
    color: var(--text-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .name {
    padding-top: 8rem;
    font-size: 4rem;
    line-height: -5rem;
  }
  .undertitle {
    font-size: 1.5rem;
    padding-bottom: 6rem;
    padding-top: 1rem;
  }
  .callToAction {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .nav-leiste {
    gap: 2rem;
  }

  .name {
    font-size: 4rem;
  }
  .undertitle {
    padding-bottom: 8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .websiteAboutUs {
    grid-template-columns: 1fr;
  }

  .aboutUs_Headline {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    width: fit-content;
  }

  .AboutUs-text {
    color: rgb(214, 202, 202);
    font-size: 1rem;
    padding-bottom: 3.5rem;
    display: block;
    text-align: left;
  }

  .open_time {
    font-size: 1.5rem;
  }

  .week_times {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-leiste {
    gap: 4rem;
  }

  .name {
    font-size: 8rem;
    line-height: -5rem;

    .undertitle {
      padding-bottom: 0.5rem;
      font-size: 9rem;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .websiteAboutUs {
    max-width: 1400px;
  }
}
